<div class="contenedorMayor">
    <div class="contenedor">
        <h2>Winkler Guido</h2>
        <p>Desarrollador Full Stack</p>
        <a class="btnContacto" href="">CONTACTO</a>
        <div class="btnsRedes">
          <a class="btnRed" href="https://github.com/Winklerguido03"><img class="imgRed" src="../../../assets/img/github-mark.png" alt=""></a>
          <a class="btnRed" href="https://www.linkedin.com/in/winkler-guido-530611296/"><img class="imgRed" src="../../../assets/img/InBug-Black.png" alt=""></a>
        </div>
     </div>
     <div class="imgIlustrativa">
        <img src="../../../assets/img/pngwing.com.png" alt="">
     </div>
</div>
<div class="contenedorMayor2">
    <div class="titulo">
            <h4>Proyectos</h4>
    </div>
    <div class="proyectos">
        @for (p of proyectos; track p) {
        <div class="card" style="width: 30rem;">
            <img [src]="p.img" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><strong>PROYECTO:</strong>{{p.proyecto}}</p>
              <p class="card-text"><strong>DESCRIPCION:</strong>{{p.descripcion}}</p>
              <p class="card-text"><strong>TECNOLOGIAS:</strong>{{p.tecnologias}}</p>
              <p class="card-text"><strong>LINK REPOSITORIO:</strong>{{p.linkRepositorio}}</p>
              <p class="card-text"><strong>ASIGNATURA:</strong>{{p.asignatura}}</p>
              <p class="card-text"><strong>DOCENTE:</strong>{{p.docente}}</p>
            </div>
          </div>
        }
    </div>
    
</div>


