h2{
    font-family: 'roboto';
    font-weight: 700;
    margin-left: 116px;
    padding-top: 100px;
    font-size: 50px;
    margin-top: 25px;
    color: #102a42;
}

p{
    font-family: 'roboto';
    font-weight: 700;
    color: #7e7e7e;
    margin-left: 116px;
}

.btnContacto{
    font-family: 'roboto';
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    background-color: #b30b0b;
    padding: 8px;
    border-radius: 4px;
    margin-left: 116px;
}

.btnContacto:hover{
    color: #102a42;
    background-color: #f28888;
}

.btnsRedes{
   display: flex;
   flex-direction: row;
   margin-left: 116px;
   margin-top: 20px;
}

.imgRed{
    width: 30px;
    height: 30px;
}

.btnRed{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contenedorMayor{
    display: flex;
    flex-direction: row;
}

.imgIlustrativa{
    margin-left: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

img{
    width: 200px;
    height: 200px;
}

.contenedorMayor2{
    display: flex;
    flex-direction: column;
    background-color: #f1f5f8;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    color: #102a42;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #b30b0b;
    text-decoration-thickness: 3px;   /* ← grosor del subrayado */
    text-underline-offset: 4px;       /* ← separación del texto */
}

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
    width: 500px;
    height: 500px;
}

.card-img-top{
    width: 100%;
}

@media screen and (max-width: 768px) {
    /* Estilos que se aplicarán en pantallas de 768px o más de ancho */
    .imgIlustrativa{
        display: none;
    }

    .btnsRedes{
        padding-bottom: 40px;
    }

    .contenedorMayor2{
        height: 1400px;
    }

    .proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 20px;
        width: 400px;
        height: 600px;
    }

    .card-body{
        width: 100%;
    }
    
    .card-img-top{
        width: 100%;
    }

  }

  @media screen and (max-width: 1024px) {
    /* Estilos que se aplicarán en pantallas de 1024px o más de ancho */
    .imgIlustrativa{
        display: none;
    }

    .btnsRedes{
        padding-bottom: 40px;
    }
    
  }