.contenedorMayor2{
    display: flex;
    flex-direction: column;
    background-color: #f1f5f8;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    color: #102a42;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #b30b0b;
    text-decoration-thickness: 3px;   /* ← grosor del subrayado */
    text-underline-offset: 4px;       /* ← separación del texto */
}

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
}

.card-img-top{
    width: 100%;
}