.contenedorContacto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioContacto{
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
}

label{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    font-family: "roboto";
    font-weight: bold;
}

input{
    width: 365px;
    height: 45px;
    border: 1px solid rgb(205, 205, 205);
}

textarea{
    width: 365px;
    height: 250px;
    border: 1px solid rgb(205, 205, 205);
}

button{
    width:365px;
    background-color:#b30b0b;;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: "Source Sans Pro";
    border: 1px solid #b30b0b;;
    margin-top:20px;
    font-family: 'roboto';
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: #b30b0b;;
    border: 1px solid #b30b0b;;
}

.mediosContacto{
     margin: 20px 20px 20px 150px;
     font-family: "Source Sans Pro";
}

.datosMediosContacto{
    margin-top: 40px;
}

@media screen and (max-width:700px){
    .formularioContacto{
        padding: 20px 0px 30px 0px;
    }

    button{
        margin:20px 0px 30px 0px;
    }

    .contenedorContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:600px){
    .formularioContacto{
        padding: 20px 0px 30px 0px;
    }

    button{
        margin:20px 0px 30px 0px;
    }
}
